<div class="contenedorTot">

  <div class="contenerPequeño">
    <div class="logo">
      <img src="../assets/img/logo dev challenge.png" height="25px">
    </div>

    <div class="content">

      <p class="secondaryText">Typhography</p>
      <p class="secondaryText">Grid</p>
      <p class="secondaryText">Buttons</p>
      <p class="primaryText"><b>Inputs</b></p>

    </div>
  </div>

  <div class="contenedorGrande">
    <p class="title">Inputs</p>

  <div class="contenedorInputs">

    <div class="inputs">
      <p class="label">Label</p>
      <input type="text" placeholder="Placeholder" class="input">
    </div>

    <div class="inputs">
      <p class="label">Label</p>
      <input type="text" placeholder="Placeholder" class="input border-black">
    </div>

    <div class="inputs">
      <p class="label color-letter-blue">Label</p>
      <input type="text" placeholder="Placeholder" class="input border-blue">
    </div>

    <div class="inputs">
      <p class="label color-letter-red">Label</p>
      <input type="text"  placeholder="Placeholder" class="input border-red">
    </div>

    <div class="inputs">
      <p class="label">Label</p>
      <input type="text" placeholder="Placeholder" class="input border-black">
    </div>

    <div class="inputs">
      <p class="label color-letter-red">Label</p>
      <input type="text" placeholder="Placeholder" class="input border-red">
    </div>


    <div class="inputs">
      <p class="label">Label</p>
      <input type="text"  placeholder="Placeholder" class="input disabled-mode">
    </div>

  </div>

  <div class="contenedorInputs-2">

    <div class="inputs">
      <p class="label">Label</p>
      <input type="text" placeholder="Placeholder" class="input">
      <br>
      <span class="message-normal">Some interesting text</span>
    </div>

    <div class="inputs">
      <p class="label color-letter-red">Label</p>
      <input type="text" placeholder="Placeholder" class="input border-red">
      <br>
      <span class="message-alert">Some interesting text</span>
    </div>

    <div class="inputs">
      <p class="label">Label</p>
      <input type="text" placeholder="Placeholder" class="input inputCall">
    </div>

    <div class="inputs">
      <p class="label">Label</p>
      <input type="text"  placeholder="Placeholder" class="input inputLock">
    </div>

    <div class="inputs">
      <p class="label">Label</p>
      <input type="text" placeholder="Placeholder" class="input" value="Text">
    </div>

    <div></div>

    <div class="inputs">
      <p class="label">Label</p>
      <input type="text" placeholder="Placeholder" class="input peq">
    </div>

    <div class="inputs">
      <p class="label">Label</p>
      <input type="text" placeholder="Placeholder" class="input ">
    </div>

  </div>

  <div class="divGrande">
    <p class="label">Label</p>
      <input type="text" placeholder="Placeholder" class="input big " value="Text">
  </div>

  <div class="anchoInp">
    <p class="label">Label</p>
    <input type="text" placeholder="Placeholder" class="input ancho">
  </div>

  <div class="nombre">
    <p class="secondaryText">Create by Maria Angelica Becerra - devChallenges.io</p>
  </div>

  </div>


</div>
